body,
h1 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #121111;
  display: flex;
  justify-content: space-around;
}

.cont-header-izq {
  align-items: center;
  display: flex;
}

.img-logo {
  height: 135px;
}

.nav-lista {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
}

.nav-links:hover {
  color: #fea47e;
}

.cont-iconos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icono {
  font-size: 30px;
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.genero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 280px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
  margin: 30px;
}

.genero-accion {
  background-image: url(../img/actiongenre.jpg);
}

.genero-animacion {
  background-image: url(../img/animationgenre.jpg);
}

.genero-aventura {
  background-image: url(../img/adventuregenre.jpg);
}

.genero-ficcion {
  background-image: url(../img/scifigenre.jpg);
}

.genero-comedia {
  background-image: url(../img/comedygenre.jpg);
}

.genero-crimen {
  background-image: url(../img/crimegenre.jpg);
}

.genero-documental {
  background-image: url(../img/documentarygenre.jpg);
}

.genero-drama {
  background-image: url(../img/dramagenre.jpg);
}

.genero-familia {
  background-image: url(../img/familygenre.jpg);
}

.genero-fantasia {
  background-image: url(../img/fantasygenre.jpg);
}

.genero-guerra {
  background-image: url(../img/wargenre.png);
}

.genero-horror {
  background-image: url(../img/horrorgenre.jpg);
}

.genero-misterio {
  background-image: url(../img/mysterygenre.jpg);
}

.genero-musical {
  background-image: url(../img/musicgenre.jpg);
}

.genero-romance {
  background-image: url(../img/romancegenre.jpg);
}

.genero-thriller {
  background-image: url(../img/thrillergenre.jpg);
}

.genero-titulo {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  font-size: 25px;
  text-shadow: 2px 2px 0 #000;
}

body {
  background-color: #2e5b6b;
}

#container > .titulo {
  font-family: "Roboto", sans-serif;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.genero-card:hover {
  transition: transform 0.2s;
  transform: scale(1.3);
}
