body,
h1 {
  background-color: #2e5b6b;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/******** 
  Header 
*********/

header {
  background-color: #121111;
  display: flex;
  justify-content: space-around;
}

.cont-header-izq {
  align-items: center;
  display: flex;
}

.img-logo {
  height: 135px;
}

/* Nav */
.nav-lista {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
}

.nav-links:hover {
  color: #fea47e;
}

.cont-iconos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icono {
  font-size: 30px;
  margin-left: 16px;
}

.titulo {
  height: 5px;
  margin-bottom: -10px;
  width: 170px;
  margin-left: 90px;
}

a {
  text-decoration: none;
  color: white;
}

.plantilla_contornos {
  display: flex;
  flex-direction: column;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 40%;
  top: 15%;
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: 1s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 40%;
  top: 15%;
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: 1s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background-color: #dbdbdb;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 700px;
  margin-top: 300px;
}

.image {
  margin-right: 50px;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 114px;
  margin-top: 300px;
}

.peliculas-recomendadas .contenedor-carousel {
  width: 69em;
  height: 50em;
  margin-left: 43.7em;
  margin-top: -47.2em;
  overflow: hidden;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

/* GENEROS */

.generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.genero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 280px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
  margin: 10px;
}

.genero-accion {
  background-image: url(../img/actiongenre.jpg);
}

.genero-horror {
  background-image: url(../img/horrorgenre.jpg);
}

.genero-ficcion {
  background-image: url(../img/scifigenre.jpg);
}

.genero-comedia {
  background-image: url(../img/comedygenre.jpg);
}

.genero-guerra {
  background-image: url(../img/wargenre.png);
}

.genero-aventura {
  background-image: url(../img/adventuregenre.jpg);
}

.genero-titulo {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  font-size: 25px;
  text-shadow: 2px 2px 0 #000;
}

.plantilla_contornos > a {
  width: 100px;
  margin-top: 50px;
  margin-left: 20px;
}

.plantilla_contornos > h2 {
  margin-top: 30px;
  margin-bottom: -40px;
}

.plantilla_contornos > #batman {
  margin-top: 60px;
  margin-left: 130px;
}

.plantilla_contornos > #jackass {
  margin-left: 60px;
}

.plantilla_contornos > #sonic {
  margin-left: 140px;
}

.pelicula-titulo {
  margin-top: -5px;
  color: black;
  font-size: 25px;
}

.cont-iconos > a {
  margin-left: 20px;
}

/* Responsive */

@media (max-width: 1920px) {
  .contenedor-carousel {
    max-width: 1100px;
  }
}

@media (max-width: 1669px) {
  .peliculas-recomendadas .contenedor-carousel {
    width: 550px;
    height: 800px;
    margin-left: 700px;
    margin-top: -750px;
    overflow: hidden;
  }
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 300px;
  }
}

@media (max-width: 1400px) {
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: -1px;
  }
}

@media (max-width: 1220px) {
  .peliculas-recomendadas .contenedor-carousel {
    width: 550px;
    height: 800px;
    margin-left: 500px;
    margin-top: -750px;
    overflow: hidden;
  }
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 50px;
  }
  .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 500px;
  }
}

@media (max-width: 1030px) {
  .peliculas-recomendadas .contenedor-carousel {
    margin-bottom: 200px;
    margin-top: 10px;
    margin-left: -1px;
    margin-left: 20px;
  }
  .peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    margin-top: 1100px;
    left: 20px;
  }
  .peliculas-recomendadas .contenedor-principal .flecha-derecha {
    margin-top: 1100px;
    right: 334px;
  }
}

@media (max-width: 698px) {
  #flecha-derecha {
    right: 5px;
  }
}
@media (max-width: 559px) {
  #flecha-derecha {
    right: 10px;
  }
}
