body,
h1 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/******** 
  Header 
*********/

header {
  background-color: #121111;
  display: flex;
  justify-content: space-around;
}

.cont-header-izq {
  align-items: center;
  display: flex;
}

.img-logo {
  height: 135px;
}

/* Nav */
.nav-lista {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
}

.nav-links:hover {
  color: #fea47e;
}

.cont-iconos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icono {
  font-size: 30px;
  margin-left: 16px;
}

.buscar-container {
  background: #fff;
  height: 20px;
  border-radius: 30px;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.buscar-container:hover > .buscar-input {
  width: 230px;
}

.buscar-container .buscar-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.titulo {
  height: 5px;
  margin-bottom: -10px;
  width: 170px;
  margin-left: 90px;
}

a {
  text-decoration: none;
  color: white;
}

.plantilla_contornos {
  display: flex;
  flex-direction: column;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: 20%;
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: 1s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 469px;
  margin-top: 200px;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
  margin-right: 29px;
  margin-top: 200px;
}

.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  height: 800px;
  margin-left: 470px;
  margin-right: 30px;
  margin-top: -750px;
  overflow: hidden;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 100%;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
}

/* GENEROS */

.generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.genero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 280px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
  margin: 10px;
}

.genero-accion {
  background-image: url(../img/actiongenre.jpg);
}

.genero-horror {
  background-image: url(../img/horrorgenre.jpg);
}

.genero-ficcion {
  background-image: url(../img/scifigenre.jpg);
}

.genero-comedia {
  background-image: url(../img/comedygenre.jpg);
}

.genero-guerra {
  background-image: url(../img/wargenre.png);
}

.genero-aventura {
  background-image: url(../img/adventuregenre.jpg);
}

.genero-titulo {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  font-size: 25px;
  text-shadow: 2px 2px 0 #000;
}

.plantilla_contornos > a {
  width: 100px;
  margin-top: 50px;
  margin-left: 20px;
}

.plantilla_contornos > h2 {
  margin-top: 30px;
  margin-bottom: -40px;
}

.plantilla_contornos > #batman {
  margin-top: 60px;
  margin-left: 130px;
}

.plantilla_contornos > #jackass {
  margin-left: 60px;
}

.plantilla_contornos > #sonic {
  margin-left: 140px;
}

.pelicula-titulo {
  margin-top: -5px;
  color: black;
  font-size: 25px;
}
