.nav-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: pink;
}

.buscar-container {
  margin-top: -25px;
  margin-left: 10px;
  float: left;
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.buscar-container:hover > .buscar-input {
  width: 230px;
}

.buscar-container .buscar-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.fa-sign-out-alt {
  margin-left: 10px;
  font-size: 24px;
}

.fa-file-upload {
  font-size: 24px;
}

.linea_horizontal {
  margin-top: 70px;
}

.linea_vertical {
  height: 600px;
  width: 1px;
  float: left;
  margin-left: 400px;
  margin-top: -604px;
}

.titulo {
  height: 5px;
  width: 100px;
  margin-left: 120px;
}

a {
  text-decoration: none;
  color: white;
}
.plantilla_contornos {
  display: flex;
  flex-direction: column;
}

.contorno {
  margin-left: 20px;
  height: 170px;
  width: 300px;
  float: left;
  border-color: red;
}

.carrousel_peliculas {
  margin-left: 440px;
  margin-top: -550px;
  height: 500px;
  width: 1300px;
  float: left;
  border-color: red;
}

.generos {
  margin-top: 70px;
  margin-left: 50px;
}

.contorno_circular {
  margin-left: 20px;
  height: 170px;
  width: 250px;
  float: left;
  border-color: red;
}

.btn-default {
  color: white;
  border-radius: 15px;
  background-color: palevioletred;
  float: right;
  margin-top: -20px;
  margin-right: 10px;
  font-size: 14px;
  height: 43px;
}

.genre {
  width: 13%;
  float: left;
  margin-left: -245px;
  margin-top: 15px;
}

.actiongenre {
  height: 160px;
}

.comedygenre {
  height: 160px;
}

.wargenre {
  height: 160px;
}

.scifigenre {
  height: 160px;
}

.adventuregenre {
  height: 160px;
}
