body {
  margin: 0px;
  background-color: #2e5b6b;
}

header {
  background-color: #121111;
  display: flex;
  justify-content: space-around;
}

.cont-header-izq {
  align-items: center;
  display: flex;
}

.img-logo {
  height: 135px;
}

/* Nav */
.nav-lista {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
}

.nav-links:hover {
  color: #fea47e;
}

.cont-iconos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icono {
  font-size: 30px;
  margin-left: 16px;
}

.buscar-container {
  background: #fff;
  height: 20px;
  border-radius: 30px;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.buscar-container:hover > .buscar-input {
  width: 230px;
}

.buscar-container .buscar-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 85%;
  /* height: 100vh ; */
  margin: 0 auto;
  background-color: white;
}

/* Imagen */

.row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

img {
  width: 100px;
  height: auto;
}

#imagen {
  display: none;
}

.btn-img {
  padding: 10px 20px;
  background-color: #1c4ec2;
  color: white;
  cursor: pointer;
}

#img-poster {
  height: auto;
  width: 300px;
}

/*  1- TITULO Y GENEROS 2- ANIO Y DIRECTORES */
.row-2 {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}

#nombre-generos {
  margin-right: 14px;
}

#titulo,
#anio {
  margin-left: 10px;
}

/*  <!-- 3- SINOPSIS --> */
.row-3 {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

#sinopsis {
  width: 90%;
  height: auto;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  resize: vertical;
  overflow: auto;
}

.cont-btn {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 20px;
  margin: 20px 0px;
  margin-right: 40px;
  border-radius: 15px;
  background-color: #270856;
  color: white;
  font-size: 15px;
}

/* Inputs */
#titulo,
#anio,
#sinopsis,
#nombre-directores,
#nombre-generos {
  outline: none;
  box-sizing: border-box;
  border: 2px solid #aaa;
  border-radius: 4px;
  height: 35px;
}

#titulo:focus,
#anio:focus,
#sinopsis:focus,
#nombre-directores:focus,
#nombre-generos:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.row-trailer {
  margin-left: 200px;
}

.row-trailer > input {
  width: 1000px;
}

@media (max-width: 1430px) {
  .row-trailer > #link_trailer {
    width: 350px;
  }
}

@media (max-width: 930px) {
  .row-trailer > #link_trailer {
    width: 250px;
  }
}

@media (max-width: 760px) {
  .row-trailer > #link_trailer {
    width: 150px;
  }
  .row-trailer > .label-text {
    margin-left: -100px;
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
  }

  .row-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .label-text {
    display: none;
  }

  #anio,
  #nombre-directores {
    margin-left: 0px;
    margin-right: 10px;
  }

  p {
    text-align: center;
  }

  .row-trailer > #link_trailer {
    margin-left: -10px;
  }
}

.row-1 > #link-imagen {
  width: 250px;
}
