<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/generos.css">
    <title>Document</title>
</head>
<body>
    
    <div id="container">
        <h3>Todos los generos</h3>
        <div class="generos">
            <div class="genero-card genero-accion">
                <a href="generos/Accion"><p class="genero-titulo">Accion</p></a>
            </div>
            <div class="genero-card genero-animacion">
                <a href="#"><p class="genero-titulo">Animacion</p></a>
            </div>
            <div class="genero-card genero-aventura">
                <a href="peliculas/Aventura"><p class="genero-titulo">Aventura</p></a>
            </div>
            <div class="genero-card genero-ficcion">
                <a href="peliculas/Ciencia+ficcion"><p class="genero-titulo">Ciencia ficción</p></a>
            </div>
            <div class="genero-card genero-comedia">
                <a href="peliculas/Comedia"><p class="genero-titulo">Comedia</p></a>
            </div>  
            <div class="genero-card genero-crimen">
                <a href="peliculas/Comedia"><p class="genero-titulo">Crimen</p></a>
            </div> 
            <div class="genero-card genero-documental">
                <a href="peliculas/Comedia"><p class="genero-titulo">Documental</p></a>
            </div> 
            <div class="genero-card genero-drama">
                <a href="peliculas/Comedia"><p class="genero-titulo">Drama</p></a>
            </div>
            <div class="genero-card genero-familia">
                <a href="peliculas/Comedia"><p class="genero-titulo">Familia</p></a>
            </div>
            <div class="genero-card genero-fantasia">
                <a href="peliculas/Comedia"><p class="genero-titulo">Fantasia</p></a>
            </div> 
            <div class="genero-card genero-guerra">
                <a href="peliculas/Guerra"><p class="genero-titulo">Guerra</p></a>
            </div>   
            <div class="genero-card genero-horror">
                <a href="#"><p class="genero-titulo">Horror</p></a>
            </div>
            <div class="genero-card genero-misterio">
                <a href="#"><p class="genero-titulo">Misterio</p></a>
            </div>
            <div class="genero-card genero-musical">
                <a href="#"><p class="genero-titulo">Musical</p></a>
            </div>
            <div class="genero-card genero-romance">
                <a href="#"><p class="genero-titulo">Romance</p></a>
            </div>
            <div class="genero-card genero-thriller">
                <a href="#"><p class="genero-titulo">Thriller</p></a>
            </div> 
        </div>
    </div>
</body>
</html>