<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/generos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Generos</title>
</head>

<body>

    <header>
        <div class="cont-header-izq">
            <img src="../static/img/logo.png" alt="" class="img-logo">

            <nav>
                <ul class="nav-lista">
                    <li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-links">INICIO</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/peliculas" class="nav-links">PELICULAS</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/generos" class="nav-links">GENEROS</a></li>
                </ul>
            </nav>
        </div>

        <div class="cont-iconos">
            <a href="http://127.0.0.1:5000/login"><i class="fas fa-sign-out-alt icono"></i></a>
            <a href="http://127.0.0.1:5000/subir_pelicula"><i class="fas fa-file-upload icono"></i></a>
        </div>
    </header>



    <div id="container">

        <div class="generos">
            <div class="genero-card genero-accion">
                <a href="generos/Accion">
                    <p class="genero-titulo">Accion</p>
                </a>
            </div>
            <div class="genero-card genero-animacion">
                <a href="generos/Animacion">
                    <p class="genero-titulo">Animacion</p>
                </a>
            </div>
            <div class="genero-card genero-aventura">
                <a href="generos/Aventura">
                    <p class="genero-titulo">Aventura</p>
                </a>
            </div>
            <div class="genero-card genero-ficcion">
                <a href="generos/Ciencia ficcion">
                    <p class="genero-titulo">Ciencia ficción</p>
                </a>
            </div>
            <div class="genero-card genero-comedia">
                <a href="generos/Comedia">
                    <p class="genero-titulo">Comedia</p>
                </a>
            </div>
            <div class="genero-card genero-crimen">
                <a href="generos/Crimen">
                    <p class="genero-titulo">Crimen</p>
                </a>
            </div>
            <div class="genero-card genero-documental">
                <a href="generos/Documental">
                    <p class="genero-titulo">Documental</p>
                </a>
            </div>
            <div class="genero-card genero-drama">
                <a href="generos/Drama">
                    <p class="genero-titulo">Drama</p>
                </a>
            </div>
            <div class="genero-card genero-familia">
                <a href="generos/Familia">
                    <p class="genero-titulo">Familia</p>
                </a>
            </div>
            <div class="genero-card genero-fantasia">
                <a href="generos/Fantasia">
                    <p class="genero-titulo">Fantasia</p>
                </a>
            </div>
            <div class="genero-card genero-guerra">
                <a href="generos/Guerra">
                    <p class="genero-titulo">Guerra</p>
                </a>
            </div>
            <div class="genero-card genero-horror">
                <a href="generos/Horror">
                    <p class="genero-titulo">Horror</p>
                </a>
            </div>
            <div class="genero-card genero-misterio">
                <a href="generos/Misterio">
                    <p class="genero-titulo">Misterio</p>
                </a>
            </div>
            <div class="genero-card genero-musical">
                <a href="generos/Musical">
                    <p class="genero-titulo">Musical</p>
                </a>
            </div>
            <div class="genero-card genero-romance">
                <a href="generos/Romance">
                    <p class="genero-titulo">Romance</p>
                </a>
            </div>
            <div class="genero-card genero-thriller">
                <a href="generos/Thriller">
                    <p class="genero-titulo">Thriller</p>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

</body>

</html>