<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/generos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div id="container">
        <h1 class="titulo">Todos los generos</h1>
        <div class="generos">
            <div class="genero-card genero-accion">
                <a href="generos/Accion">
                    <p class="genero-titulo">Accion</p>
                </a>
            </div>
            <div class="genero-card genero-animacion">
                <a href="generos/Animacion">
                    <p class="genero-titulo">Animacion</p>
                </a>
            </div>
            <div class="genero-card genero-aventura">
                <a href="generos/Aventura">
                    <p class="genero-titulo">Aventura</p>
                </a>
            </div>
            <div class="genero-card genero-ficcion">
                <a href="generos/Ciencia ficcion">
                    <p class="genero-titulo">Ciencia ficción</p>
                </a>
            </div>
            <div class="genero-card genero-comedia">
                <a href="generos/Comedia">
                    <p class="genero-titulo">Comedia</p>
                </a>
            </div>
            <div class="genero-card genero-crimen">
                <a href="generos/Crimen">
                    <p class="genero-titulo">Crimen</p>
                </a>
            </div>
            <div class="genero-card genero-documental">
                <a href="generos/Documental">
                    <p class="genero-titulo">Documental</p>
                </a>
            </div>
            <div class="genero-card genero-drama">
                <a href="generos/Drama">
                    <p class="genero-titulo">Drama</p>
                </a>
            </div>
            <div class="genero-card genero-familia">
                <a href="generos/Familia">
                    <p class="genero-titulo">Familia</p>
                </a>
            </div>
            <div class="genero-card genero-fantasia">
                <a href="generos/Fantasia">
                    <p class="genero-titulo">Fantasia</p>
                </a>
            </div>
            <div class="genero-card genero-guerra">
                <a href="generos/Guerra">
                    <p class="genero-titulo">Guerra</p>
                </a>
            </div>
            <div class="genero-card genero-horror">
                <a href="generos/Horror">
                    <p class="genero-titulo">Horror</p>
                </a>
            </div>
            <div class="genero-card genero-misterio">
                <a href="generos/Misterio">
                    <p class="genero-titulo">Misterio</p>
                </a>
            </div>
            <div class="genero-card genero-musical">
                <a href="generos/Musical">
                    <p class="genero-titulo">Musical</p>
                </a>
            </div>
            <div class="genero-card genero-romance">
                <a href="generos/Romance">
                    <p class="genero-titulo">Romance</p>
                </a>
            </div>
            <div class="genero-card genero-thriller">
                <a href="generos/Thriller">
                    <p class="genero-titulo">Thriller</p>
                </a>
            </div>
        </div>
    </div>
</body>

</html>