<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <div class="nav-principal">
            <img src="/img/logo.png" alt="">
            <i class="fas fa-file-upload fa-2x"></i>
            Subir critica

            <form class="form-buscador">
                <input class="buscador" type="text" placeholder="Buscar">
                <button class="boton" type="submit">Buscar</button>
            </form>
            <i class="fas fa-sign-out-alt fa-2x"></i>
            Cerrar sesion
    </header>


    <div class="container">

        <table>
            <hr class="linea_horizontal">
            <aside>
                <p class="titulo"> Nuevos trailers </p>
                <div class="plantilla_contornos">
                    <hr class="contorno">
                    <hr class="contorno">
                    <hr class="contorno">
                </div>
            </aside>
        </table>
        </table>
        <main>
            <hr class="carrousel_peliculas">
        </main>



    </div>

    <div class="lineavertical">
        <hr class="linea_vertical">
    </div>
    </div>
    </div>

    <section>
        <div class="generos">
            Generos Populares
            <br>
            <hr class="contorno_circular">
            <hr class="contorno_circular">
            <hr class="contorno_circular">
            <hr class="contorno_circular">
            <hr class="contorno_circular">
        </div>
    </section>

</body>

</html>

<script src="https://kit.fontawesome.com/2fbb3f2f37.js" crossorigin="anonymous"></script>