<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav-principal">
            <img src="/img/logo.png" alt="">

            <p>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/templates/login.html"><i class="fas fa-sign-out-alt"> Cerrar Sesion</i></a>
                </button>
            </p>

            <p>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/templates/subir_pelicula.html"><i class="fas fa-file-upload"> Subir
                            critica</i></a>

                </button>
            </p>


            <div class="buscar-container">
                <input type="text" name="buscar" placeholder="Buscar..." class="buscar-input">
                <a href="#" class="buscar-btn">
                    <i class="fas fa-search" style="color: pink;"></i>
                </a>
            </div>



    </header>


    <div class="container">

        <table>
            <hr class="linea_horizontal">
            <aside>
                <p class="titulo"> Nuevos trailers </p>
                <div class="plantilla_contornos">
                    <hr class="contorno">
                    <hr class="contorno">
                    <hr class="contorno">
                </div>
            </aside>
        </table>
        </table>
        <main>
            <hr class="carrousel_peliculas">
        </main>



    </div>

    <div class="lineavertical">
        <hr class="linea_vertical">
    </div>
    </div>
    </div>

    <section>
        <div class="generos">
            Generos Populares
            <br>
            <hr class="contorno_circular">
            <img class="genre actiongenre" src="/img/actiongenre.jpg" alt="Pelicula de accion">
            <hr class="contorno_circular">
            <img class="genre" src="/img/horrorgenre.jpg" alt="Pelicula de terror">
            <hr class="contorno_circular">
            <img class="genre wargenre" src="/img/wargenre.png" alt="Pelicula de guerra">
            <hr class="contorno_circular">
            <img class="genre comedygenre" src="/img/comedygenre.jpg" alt="Pelicula de comedia">
            <hr class="contorno_circular">
            <img class="genre scifigenre" src="/img/scifigenre.jpg" alt="Pelicula de ciencia ficcion">
            <hr class="contorno_circular">
            <img class="genre adventuregenre" src="/img/adventuregenre.jpeg" alt="Pelicula de aventura">
        </div>
    </section>

</body>

</html>

<script src="https://kit.fontawesome.com/2fbb3f2f37.js" crossorigin="anonymous"></script>