<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="nav-principal">
            <img src="/img/logo.png" alt="">

            <p>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/templates/login.html"><i class="fas fa-sign-out-alt"> Cerrar Sesion</i></a>
                </button>
            </p>

            <p>
                <button type="button" class="btn btn-default btn-sm">
                    <a href="/templates/subir_pelicula.html"><i class="fas fa-file-upload"> Subir
                            critica</i></a>
                </button>
            </p>


            <div class="buscar-container">
                <input type="text" name="buscar" placeholder="Buscar..." class="buscar-input">
                <a href="#" class="buscar-btn">
                    <i class="fas fa-search" style="color: pink;"></i>
                </a>
            </div>



    </header>


    <div class="container">

        <table>
            <hr class="linea_horizontal">
            <aside>
                <p class="titulo"> Nuevos trailers </p>
                <div class="plantilla_contornos">
                    <hr class="contorno">
                    <hr class="contorno">
                    <hr class="contorno">
                </div>
            </aside>
        </table>
        </table>
        <main>
            <div class="peliculas-recomendadas contenedor">
                <div class="contenedor-titulo-controles">
                </div>
                <div class="contenedor-principal">
                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i
                            class="fas fa-angle-left"></i></button>

                    <div class="contenedor-carousel">
                        <div class="carousel">
                            <div class="pelicula">
                                <a href="#"><img src="/img/1.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/2.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/3.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/4.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/5.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/6.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/7.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/1.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/2.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/3.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/1.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/2.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/3.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/4.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/5.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/6.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/7.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/1.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/2.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/3.jpg" alt=""></a>
                            </div>
                            <div class="pelicula">
                                <a href="#"><img src="/img/4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i
                            class="fas fa-angle-right"></i></button>
                </div>
            </div>
        </main>

    </div>

    <div class="lineavertical">
        <hr class="linea_vertical">
    </div>
    </div>
    </div>

    <section>
        <h3>Generos Populares</h3>
        <div class="generos">
            <div class="genero-card genero-accion">
                <a href="#"><p class="genero-titulo">Accion</p></a>
            </div>
            <div class="genero-card genero-terror">
                <a href="#"><p class="genero-titulo">Terror</p></a>
            </div>
            <div class="genero-card genero-ficcion">
                <a href="#"><p class="genero-titulo">Ciencia ficción</p></a>
            </div>
            <div class="genero-card genero-comedia">
                <a href="#"><p class="genero-titulo">Comedia</p></a>
            </div>
            <div class="genero-card genero-guerra">
                <a href="#"><p class="genero-titulo">Guerra</p></a>
            </div> 
            <div class="genero-card genero-aventura">
                <a href="#"><p class="genero-titulo">Aventura</p></a>
            </div>  
        </div>
    </section>

</body>

</html>

<script src="/static/js/carrousel.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>