<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
</head>
<body>
    
    <div class="container">

        <div class="cont-log-in">
            <div class="izquierda-log-in">
                <!--falta logo-->
            </div>

            <form action="" class="form-log-in">
                <!-- cambiar nivel de titulo para darle continuidad al index-->
                <h1>BIENVENIDO</h1>
                <p>Inicia sesion para disfrutar al maximo de <strong>[nombre]</strong>!</p>

                <div class="cont-input">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="cont-input">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>

                <button type="submit">Ingresar</button>

                <!-- Implementacion a considerar-->
                <a href="#">Seguir como invitado</a>
            </form>
        </div>

    </div>

</body>
</html>