<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>

    <div class="container">

        <div class="cont-log-in">
            <div class="izquierda-log-in"></div>

            <form class="form-log-in">
                <h3>Bienvenido</h3>
                <p>Inicia sesión para disfrutar al máximo de <strong>Zona Films</strong>!</p>

                <div class="cont-input">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="cont-input">
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                
                <div id="mensaje-error"></div>

                <button type="submit" class="ingresar">Ingresar</button>
            </form>
            <a href="/"><button type="sumbit" class="guest"> Continuar como invitado</button></a>
        </div>

    </div>

    <script src="/static/js/login.js"></script>
</body>

</html>