<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/pelicula_styles.css">
</head>

<body>

    <header></header>

    <main>
        <div class="cont-info" id="{{ id }}">
            <div id="cont-info-dcha">
            </div>
            <div id="cont-info-izq">
                <div id="row1">
                </div>
                <div id="row2">
                </div>
            </div>
        </div>
    </main>

    <section class="section-criticas">

        <div class="cont-agregar-critica">
            <h3>Tu critica</h3>
            <div class="agregar-critica-inner">
                <div class="agregar-critica-texto">Escribe tu opinión y compartela con el resto de los usuarios.</div>
                <a href="/subir_critica" class="agregar-critica-link">Añadir crítica</a>
            </div>
        </div>

        <div>
            <h3>Critica de usuarios</h3>
            <div id="cont-cards-criticas">
            </div>
        </div>
    </section>

    <div id="cont-btn">
        <button type="submit" id="btn-delete">Borrar</button>
        <button type="submit" id="btn-edit">Editar</button>
    </div>

    <script src="/static/js/pelicula_info.js"></script>
</body>

</html>