<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/peliculas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_footer.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Peliculas</title>
</head>

<body>

    <header>
        <div class="cont-header-izq">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-logo">

            <nav>
                <ul class="nav-lista">
                    <li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-links">INICIO</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/peliculas" class="nav-links">PELICULAS</a></li>
                    <li class="nav-item"><a href="http://127.0.0.1:5000/generos" class="nav-links">GENEROS</a></li>
                </ul>
            </nav>
        </div>

        <div class="cont-iconos">
            <a href="http://127.0.0.1:5000/login"><i class="fas fa-sign-out-alt icono"></i></a>
            <a href="http://127.0.0.1:5000/subir_pelicula"><i class="fas fa-file-upload icono"></i></a>
        </div>
    </header>

    <main>
        <div id="container">

        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="footer-row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>

            <div class="footer-row">
                <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div> 

            <div class="footer-row">
                Copyright © 2022 All Rights Reserved || Designed By: Martin Lagonegro & Tatiana Gutiérrez
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/peliculas.js') }}"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>

</html>