<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header></header>

    <main>

        <!-- NOTA: LAS ETIQUETAS COMENTADAS SON ILUSTRATIVAS. ESTAN IMPLEMENTADAS EN EL JS. SE PUEDE BORRAR  -->
        <div class="cont-info" id="{{ id }}">
            <div id="cont-info-dcha">
                <!-- img -->
            </div>
            <div id="cont-info-izq"> 
                <div id="row1">
                <!--<h2>Titulo</h2>
                    <div>
                        <p></p> 
                        <p></p> 
                    </div> -->
                </div> 
                <div id="row2">
                    <!-- <h3>Sinopsis</h3>
                    <p></p>
                    <h3>Direccion</h3>
                    <p></p> -->
                </div> 
            </div>
        </div>

        <!-- NOTA: FALTA DEFINIR ESTRUCTURA Y FUNCIONAMIENTO. -->
        <div id="cont-critica">
            <div> <!-- cont-critica-dcha -->
                <h2>Comentarios</h2>
            </div>
            <div> <!-- cont-critica-izq -->
                <button>Editar pelicula</button>
            </div>
        </div>

    </main>

    <script src="../static/js/pelicula_info.js"></script>
</body>
</html>