<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/subir_pelicula.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Subir pelicula</title>
</head>
<body>

    <header>
        <!-- Copiar header de index -->
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <label for="imagen" class="btn-img">Subir Foto</label>
                    <input id="imagen" type="file" accept="image/*">
                </div>
                <div class="col-2">
                    <label for="titulo">Tiulo</label>
                    <input id="titulo" type="text">  
                </div>
            </div>

            <div class="row">
                <div class="col-1">
                    <!-- director y anio -->
                    <div class="directores" onclick="">
                        <select name="nombre-directores">
                            <option>Seleccionar un director</option>
                        </select>
                    </div>
                    <div>
                        <label for="anio">Año</label>
                        <input id="anio" type="date">
                    </div>
                </div>
                <!-- derecha -->
                <div class="col-2">
                    <div class="generos" onclick="">
                        <select name="nombre-generos" multiple="multiple">
                            <option>Seleccionar generos (max. 3)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <label for="sinopsis">Sinopsis</label>
                    <input id="sinopsis" type="text">
                </div>
            </div>

            <button class="btn-subir" type="submit">Subir</button>
        </div>
    </main>
</body>
</html>